@use '../../variable'

.footerAll
  // border: 3px dashed white
  align-items: center
  background-color: variable.$color-black
  display: flex
  color: variable.$color-white
  height: 100%
  justify-content: flex-end
  width: 100%

  p
    padding: 1rem