@use '../../variable'

.divSobre
  align-items: flex-start
  height: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  width: 100%

  .textoSobre
    align-items: center
    display: flex
    flex-direction: column
    height: auto
    justify-content: center
    padding-top: 4rem

  .titleSobre
    background: variable.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: variable.$font-padrao
    font-size: 2.5rem
    text-align: center

  .parSobre
    font-family: variable.$font-h1
    font-size: 1.4rem
    line-height: 250%
    padding: 3rem
    text-indent: 3rem
    text-align: justify
    width: 75%