@use '../../variable'

.sectionBody
  display: flex
  flex-direction: row
  width: 100%  

  .bodyDiv
    // border: 3px solid yellow
    height: 50rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    width: 90%

  .bodyDivAside
    // border: 3px dotted green
    width: 10%
