@use '../../variable'

.sectionBody
  display: flex
  flex-direction: row
  width: 100%  

  .bodyDiv
    height: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    width: 90%

  .bodyDivAside
    width: 10%
